body {
    width: 100%;
    font-size: 1em;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico-webfont.eot');
    src: url('../font/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Pacifico-webfont.woff') format('woff'),
         url('../font/Pacifico-webfont.ttf') format('truetype'),
         url('../font/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.view {
    display: none;
}

.view.current {
    display: block;
}

// Fixes android viewport issue
@media (orientation:portrait) and (orientation:landscape) {
    .content,
    .bar-title {
        position:fixed;
    }
}

.bar-title .title {
    text-align: center;
    font-family: 'Pacifico';
}

.count:empty {
    display: none;
}